target/
build/
.idea/
.gradle/
.svn/
*.iml
*.swp
*.db
logs/
.DS_Store
view-app
out/
obsel/
*.log
.classpath
.factorypath
.project
.settings/
code/
deploy/mysql/data/
deploy/api/cfr-0.150.jar
deploy/api/ex-deploy-lib/