---
spring:
  http:
      multipart:
         max-file-size: 100MB
         max-request-size: 100MB
  #jackson:
  #  date-format: yyyy-MM-dd HH:mm:ss
  #  default-property-inclusion: non_empty
  #  time-zone: Asia/Shanghai
  profiles: produce
  datasource:
      url: jdbc:mysql://mysql:3306/cinema?useSSL=false&autoReconnect=true&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&allowMultiQueries=true&serverTimezone=Asia/Shanghai
      username: root
      password: rootAZaz@123
      filters: log4j,wall,mergeStat
      sql-script-encoding: UTF-8
      schema: classpath*:sql/*-schema.sql
      data: classpath*:sql/*-data.sql
      initialize: false

logging:
  level: warn 
  config: config/logback-spring.xml

io:
  excel-template-dir: "templates"

fs:
  fileUploadPath: /attachments
  fileHost: /attachments
am:
  json-serialize-date-format: yyyy-MM-dd HH:mm:ss

---
aliyun:
  sso:
    endpoint: "http://oss-cn-shenzhen.aliyuncs.com"
    accessKeyId: ""
    accessKeySecret: ""
    bucketName: ""
    username: ""
    thumbParam: "x-oss-process=image/resize,m_fill,h_750,w_750"
    accessUrl: "http://xxxxxx.oss-cn-shenzhen.aliyuncs.com/"
  sms:
    signName: "–«”„ø∆ºº"
    accessKeyId: "LTAI4G5uDRahcSJsEXshhb5v"
    accessSecret: "i0oYnQqdsIZHjO1vG36wsLNrkD1LhU"
    enable: true
